* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  overflow-x: hidden;
}

.footer {
  position: relative;
  bottom: 0;
padding: 0;
  width: 100%;
}

.FormContainer {

    display: flex;
    justify-content: center;
    align-items: center;

  }
