@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  overflow-x: hidden;
}

.footer {
  position: relative;
  bottom: 0;
padding: 0;
  width: 100%;
}

.FormContainer {

    display: flex;
    justify-content: center;
    align-items: center;

  }

.cardSection {
  background-color: #F0EFAB;


}

.bgimg {

  background-image: url('../public/smultOpac.png');
  background-repeat: no-repeat;
  background-position-x: center;
  opacity: 0.5;
  height: 100vh;
  background-size: contain;
  position: absolute;
  /* z-index: -1; */
  top: 0;


}

.cardImg {
  height: inherit;
  border-radius: 0px 0px 12px 0px;
}

.bgWelcome {
  height: 80vh;
  width: 100%;
  background-color: #F0EFAB;
  display: flex;
flex-direction: column;


}

.welcomeImg {
    background-image: url('../public/smultOpac.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    max-height: 60vh;
    min-height: 300px;


}

.welcomeText {
  font-family: 'Bodoni Moda';
  font-weight: 500;
  margin: auto;

}

.logoImg {
  background-image: url(../public/logga.png);
  background-repeat: no-repeat;
    background-size: contain;
    height: 150px;

}

.flexFix {
  margin: auto;

  width: 150px;

}
.homeForm {
  margin: auto;
  max-width: 80%;
  min-width: 50%;
border-radius: 12px 0px 12px 0px;
background-color: #ECEBEB;
}

.inputField {
width: 90%;
height: 42px;
border-radius: 12px 0px 12px 0px;
border: none;
padding-left: 10px;

}

.inputBtn {
height: 42px;
width: 50px;
border-radius: 12px 0px 12px 0px;
border: none;
background-color: #ECEBEB;
margin-right: 20px;
position: absolute;

}
